<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>yami</title>
    <style>
     html, body, #app {
       width: 100%;
       height: 100%;
       margin: 0;
       padding: 0;
     }
     .query-box, .result-box {
       width: 100%;
       height: 300px;
       box-sizing: border-box;
     }
    </style>
  </head>
  <body>
    <div id="app">
      <textarea class="query-box" v-model="query"></textarea>
      <div><button @click="send">run</button></div>
      <textarea class="result-box" v-model="result"></textarea>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
     const app = new Vue({
       el: '#app',
       data: {
         query: 'findAll x y z;\ncollect x y z;',
         result: ''
       },
       methods: {
         async send() {
           this.result = '';
           const res = await axios.post('/api/v1/query', this.query);
           this.result = res.data;
         }
       }
     });
    </script>
  </body>
</html>
